<!-- <app-phone-detail [selectedPhone]="selectedPhone"></app-phone-detail> -->

<!-- <h2>Many objects</h2>
<ul class="phones">
    <li *ngFor="let phone of phones" (click)="onSelect(phone)" [class.selected]="phone === selectedPhone">
        <span class="badge">{{phone.id}}</span> {{phone.name}} - {{phone.price}}
    </li>
</ul> -->

<h2>Many objects</h2>
<ul class="phones">
    <li *ngFor="let phone of phones">
        <a routerLink="/detail/{{phone.id}}">
        <span class="badge">{{phone.id}}</span> {{phone.name}} - {{phone.price}}
        </a>
        <button class="delete" title="delete phone" (click)="delete(phone)">x</button>
    </li>
</ul>

<div>
    <label> Phone name:
        <input type="text" #phoneName>
    </label>
    <label>Phone cost:
        <input type="number" #phoneCost>
    </label>
</div>

<button (click)="add(phoneName.value, phoneCost.value); phoneName.value=''; phoneCost.value = ''" >add</button>
